@import 'src/assets/styles/_variables.scss';

.part {
  &__wrapper {
    background-color: $color-white;
    @include border(16px, $color-grey-flash);
    padding: 10px;
  }
  &__main {
    display: grid;
    align-items: center;
    column-gap: 12px;
    grid-template-columns: 16px 5fr repeat(2, minmax(50px, 1fr)) repeat(1, minmax(80px, 1fr)) 160px;
    & > span {
      @include font(14px, $color-grey-space, 700);
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
  }
}
